:root {
  --text: #394245;
  --background: #1e293b;
  --text-light: #a5abad;
  --yellow: #f6f6bc;
  --pink: #fb7185;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-form-formradioinput--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-width: 4px;
  border-color: #3898ec;
}

body {
  color: var(--text);
  font-family: Outfit, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 35px;
  font-weight: 600;
  line-height: 1.2;
}

h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 23px;
  font-weight: 600;
  line-height: 1.2;
}

.section {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  min-height: 100vh;
  display: flex;
}

.navigation {
  background-color: var(--background);
  scrollbar-width: none;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 45px 60px;
  display: flex;
  position: sticky;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
}

.wrapper {
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
  padding-left: 50px;
  padding-right: 50px;
}

.uppercase {
  text-transform: capitalize;
  font-family: Unbounded, Arial, sans-serif;
}

.profile-wrap {
  color: #fff;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
}

.profile-circle {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  margin-bottom: 20px;
  overflow: hidden;
}

.profile-img {
  box-sizing: border-box;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: clip;
}

.profile-name {
  margin-bottom: 10px;
  font-family: Unbounded, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.txt-opacity {
  opacity: .5;
  font-family: Unbounded, Arial, sans-serif;
}

.menu-link {
  grid-column-gap: 15px;
  color: var(--text-light);
  align-items: center;
  margin-bottom: 25px;
  text-decoration: none;
  display: flex;
}

.menu-square {
  background-color: #3b4042;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  display: flex;
}

.menu-icon {
  margin-bottom: -4px;
}

.menu-text {
  font-family: Unbounded, Arial, sans-serif;
}

.header {
  z-index: 99;
  background-color: #fff;
  border-bottom: 1px solid #dadade;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 70px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  position: sticky;
  top: 0;
}

.date-wrap {
  grid-row-gap: 5px;
  text-transform: uppercase;
  background-color: #f5f6f5;
  border-radius: 15px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  height: 72px;
  margin-right: 50px;
  font-size: 14px;
  display: flex;
}

.txt-bold {
  text-transform: capitalize;
  font-weight: 700;
}

.header-l {
  align-items: center;
  display: flex;
}

.header-r {
  grid-column-gap: 45px;
  align-items: center;
  display: flex;
}

.form-block {
  margin-bottom: 0;
}

.search {
  background-color: #f5f6f5;
  background-image: url('../images/search.svg');
  background-position: 15px;
  background-repeat: no-repeat;
  background-size: auto;
  border: 1px #000;
  border-radius: 40px;
  min-width: 320px;
  height: 40px;
  margin-bottom: 0;
  padding-left: 45px;
  font-family: Unbounded, Arial, sans-serif;
}

.members-wrap {
  justify-content: center;
  display: none;
}

.member-icon {
  outline-offset: 0px;
  object-fit: cover;
  border-radius: 50%;
  outline: 2px solid #fff;
  width: 40px;
  height: 40px;
  margin-left: -15px;
}

.member-icon.first {
  margin-left: 0;
}

.members-count {
  outline-offset: 0px;
  background-color: #f5f6f5;
  border-radius: 50%;
  outline: 2px solid #fff;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: -15px;
  display: flex;
}

.count {
  font-size: 12px;
  font-weight: 700;
}

.content.center {
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.row {
  grid-column-gap: 50px;
  grid-template-rows: auto;
  grid-template-columns: minmax(80px, 80px) 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 30px;
  display: grid;
}

.duration-wrap {
  grid-row-gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.duration-wrap.opacity {
  opacity: 0;
}

.info {
  background-color: var(--yellow);
  border-radius: 20px;
  flex: 1;
  justify-content: space-between;
  align-items: center;
  padding: 30px 30px 30px 35px;
  display: flex;
}

.info.blue {
  background-color: #d0e6eb;
}

.info.cream {
  background-color: #e8e3e3;
}

.info.pink {
  background-color: var(--pink);
}

.duration {
  color: var(--text);
  font-weight: 700;
}

.separator {
  background-color: #d5d6d6;
  width: 100%;
  height: 1px;
}

.separator.small {
  width: 30px;
}

.separator.full {
  flex: 1;
}

.info-l {
  grid-column-gap: 70px;
  justify-content: flex-start;
  align-items: center;
  display: flex;
}

.info-r {
  width: 100%;
  max-width: 170px;
  position: relative;
}

.info-user {
  text-align: center;
  width: 100%;
  max-width: 90px;
}

.info-subject {
  padding-right: 10px;
}

.info-user_img {
  object-fit: cover;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin-bottom: 15px;
}

.info-user_txt {
  font-family: Unbounded, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

.subject-name {
  margin-bottom: 15px;
  font-size: 50px;
  font-weight: 600;
}

.subject-description {
  font-family: Unbounded, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.4;
}

.info-r_img {
  object-fit: cover;
  border-radius: 10px;
  width: 100%;
  height: 100%;
  padding-left: 0;
}

.time-left {
  grid-column-gap: 8px;
  background-color: #fff;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  position: absolute;
  inset: auto auto 0% 0%;
  transform: translate(25%, 50%);
  box-shadow: 1px 1px 10px #00000040;
}

.time-left_icon {
  color: #f2584a;
  margin-bottom: -2px;
}

.time-left_txt {
  font-size: 14px;
}

.break-wrap {
  grid-column-gap: 55px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
}

.break-info {
  grid-column-gap: 45px;
  display: flex;
}

.break-info:hover {
  background-color: var(--pink);
  border-radius: 10px;
}

.break-time {
  font-weight: 700;
}

.break-name {
  font-size: 22px;
  font-weight: 700;
}

.break-flex {
  grid-column-gap: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 15px;
  display: flex;
}

.break-info_wrap {
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.upload-button {
  background-color: var(--yellow);
  color: var(--text);
  border-radius: 10px;
  padding: 15px 60px;
  font-size: 17px;
  transition: background-color .2s;
}

.upload-button:hover {
  background-color: var(--text);
  color: var(--yellow);
}

.social-image {
  width: 24px;
}

.social-text {
  font-weight: 500;
}

.show-hide-ode {
  display: none;
}

.social-content {
  grid-column-gap: 20px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.show-password-wrap {
  z-index: 4;
  position: absolute;
  inset: 18px 3% auto auto;
}

.form-input {
  color: #525152;
  border: 1px solid #dcdce5;
  border-radius: 10px;
  width: 100%;
  height: 50px;
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 18px;
  font-weight: 400;
  transition: box-shadow .2s;
}

.form-input:focus {
  border-color: #49bfff;
}

.form-input::placeholder {
  color: #8f93a3;
}

.form-block-2 {
  margin-bottom: 0;
}

.hide {
  display: none;
}

.or-new {
  color: #0e1012;
  text-align: center;
  margin: 0 10px;
}

.form-label {
  color: #0e1012;
  font-weight: 500;
}

.social-btn {
  color: #000;
  border: 1px solid #dcdce5;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 10px;
  padding: 12px 40px 12px 15px;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  transition: border-color .2s, box-shadow .2s;
  position: relative;
  box-shadow: 0 1px 2px #dcdce580;
}

.social-btn:hover {
  box-shadow: none;
  border-color: #374252;
}

.social-btn:focus {
  border: 1px solid #000;
}

.social-btn::placeholder {
  color: #6e6e6e;
}

.social-btn.google {
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.social-btn.google:hover {
  border-color: #4285f4;
}

.eye-svg {
  justify-content: center;
  align-items: center;
  width: 16px;
  margin-right: 4px;
  display: flex;
}

.full-section {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 100px 5%;
  display: flex;
}

.show-password {
  color: #989fb2;
  background-color: #fff;
  padding: 0 7px 0 6px;
  font-size: 13.5px;
  display: flex;
  bottom: -1px;
}

.show-password.w--current {
  display: none;
}

.input-wrapper {
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  position: relative;
}

.form-container {
  text-align: left;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  padding-top: 10px;
  display: flex;
  position: relative;
}

.log-in__h {
  color: #000;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  font-size: 34px;
  font-weight: 600;
}

.log-in__content {
  text-align: center;
  width: 100%;
  max-width: 475px;
  margin-left: auto;
  margin-right: auto;
}

.gray-line {
  background-color: #d3d3d3;
  flex: 1;
  height: 1px;
}

.or-wrap {
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
}

.hamburger, .navigation-shadow {
  display: none;
}

.heading {
  font-family: Unbounded, Arial, sans-serif;
}

.c-text {
  color: var(--pink);
  -webkit-text-fill-color: #fb7185;
  font-family: Unbounded, Arial, sans-serif;
  font-size: 22px;
}

.hero_component {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  min-height: 100vh;
  display: flex;
  position: relative;
}

.hero_component.flex {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: column;
}

.hero_component.flex.count {
  justify-content: center;
  min-height: 70vh;
}

.counter {
  color: var(--pink);
  letter-spacing: .1em;
  -webkit-text-fill-color: #fb7185;
  margin-bottom: 45px;
  font-family: Montserrat, sans-serif;
  font-size: 54px;
  font-weight: 700;
  line-height: 1.1;
}

.counter-item {
  border: 2px solid #1e293b;
  border-radius: 30px;
  flex-flow: column;
  justify-content: flex-start;
  width: 250px;
  height: 250px;
  padding-top: 60px;
  display: flex;
}

.counter-item.color {
  background-color: #1e293b;
}

.count-embed {
  display: none;
}

.padding-global {
  color: #000;
  padding-left: 5%;
  padding-right: 5%;
}

.counter-wrap {
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  text-align: center;
  flex-flow: row;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
  display: grid;
}

.container-large {
  width: 100%;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.hero_content {
  grid-column-gap: 3rem;
  grid-row-gap: 3rem;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1.125fr;
  grid-auto-columns: 1fr;
  align-items: center;
  height: 100%;
  margin-left: 0;
  padding-bottom: 5vh;
  display: grid;
  position: static;
}

.hero_content.count {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  display: flex;
}

.test {
  color: var(--text);
  -webkit-text-decoration-skip-ink: auto;
  text-decoration-skip-ink: auto;
  border-radius: 15px;
  padding: 10px 40px;
  -webkit-text-decoration: none;
  text-decoration: none;
}

.test:hover {
  background-color: var(--yellow);
  border-radius: 15px;
}

.test-content {
  z-index: 0;
  flex-direction: column;
  flex: 1;
  order: 0;
  align-items: stretch;
  width: auto;
  min-width: auto;
  max-width: none;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-left: 0;
  padding-right: 0;
  display: block;
  position: relative;
  overflow: visible;
}

.u-400-16-24 {
  width: 100%;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
}

.u-400-16-24.align-center {
  text-align: center;
  font-family: Unbounded, Arial, sans-serif;
}

.section-1 {
  aspect-ratio: auto;
  flex-direction: column;
  align-items: center;
  width: auto;
  min-width: auto;
  max-width: 1208px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0;
  padding-left: 24px;
  padding-right: 24px;
  display: block;
}

.div-block-2 {
  background-color: var(--pink);
  border: 1.5px solid #000;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: auto;
  max-width: none;
  padding: 64px 16px;
  font-family: Montserrat, sans-serif;
  display: flex;
}

.test-intro-steps {
  border-radius: 8px;
  padding: 32px 16px;
}

.test-intro-steps.bg-levander {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #ebefff;
  flex-direction: column;
  max-width: 760px;
  display: block;
}

.test-intro-steps.additional-seasalt {
  background-color: #f7f8f9;
  border: 1.5px solid #7f8f9f;
}

.wrapper-intro-test {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 0;
  display: flex;
}

.intro-to-test {
  padding-top: 64px;
  padding-bottom: 64px;
  display: block;
}

.u-800-36-46 {
  text-align: left;
  width: 100%;
  max-width: none;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 800;
  line-height: 46px;
}

.u-800-36-46.align-center {
  text-align: center;
  width: 100%;
  max-width: none;
  font-family: Unbounded, Arial, sans-serif;
}

.feedback-incorrect {
  display: none;
}

.feedback-incorrect.height-0 {
  height: auto;
  display: none;
  overflow: hidden;
}

.questions-6-div-block {
  max-width: 1208px;
  padding-left: 24px;
  padding-right: 24px;
  display: none;
}

.page-content {
  z-index: 0;
  flex-direction: column;
  flex: 1;
  order: 0;
  align-items: stretch;
  width: auto;
  min-width: 992px;
  max-width: none;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-left: 0;
  padding-right: 0;
  display: block;
  position: relative;
  overflow: visible;
}

.radio-button {
  z-index: 5;
  cursor: pointer;
  background-color: #0000;
  border: 1.5px #000;
  border-radius: 0%;
  flex: none;
  width: auto;
  height: auto;
  margin-top: 0;
  margin-left: 0;
  padding-left: 0;
  display: block;
  position: absolute;
  inset: 0%;
}

.radio-button.w--redirected-checked {
  background-color: #0000;
  border-width: 1.5px;
  border-color: #000;
}

.radio-button.w--redirected-focus {
  box-shadow: none;
}

.questions-10-div-block {
  max-width: 1208px;
  padding-left: 24px;
  padding-right: 24px;
  display: none;
}

.radio-button-field {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: #000;
  cursor: auto;
  border: 1.5px solid #000;
  border-radius: 8px;
  align-items: center;
  margin-bottom: 0;
  padding: 32px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: flex;
  position: relative;
}

.radio-button-field:hover {
  background-color: var(--pink);
}

.montserrat-600-18 {
  white-space: normal;
  overflow-wrap: normal;
  flex: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
}

.montserrat-600-18.additional-amaranth-purple {
  color: #a40e4c;
}

.montserrat-600-18.color-indian-green {
  color: #358600;
  white-space: normal;
}

.montserrat-600-18.additional-slate-gray {
  color: var(--background);
}

.questions-5-div-block {
  max-width: 1208px;
  padding-left: 24px;
  padding-right: 24px;
  display: none;
}

.montserrat-400-16-24 {
  width: 100%;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  display: block;
}

.montserrat-400-16-24.padding-top-16px {
  padding-top: 16px;
}

.disable-button-next-block {
  z-index: 8;
  display: block;
  position: absolute;
  inset: 0%;
}

.html-embed-13 {
  margin-left: auto;
  margin-right: auto;
}

.b-more-than-a {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  background-color: #e8ffd6;
  border: 1.5px solid #358600;
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  display: none;
}

.questions-3-div-block, .questions-1-div-block {
  max-width: 1208px;
  padding-left: 24px;
  padding-right: 24px;
  display: none;
}

.div-block-75 {
  flex-direction: column;
  justify-content: center;
  align-self: stretch;
  align-items: center;
  padding-bottom: 0;
  display: flex;
}

.questions-8-div-block {
  max-width: 1208px;
  padding-left: 24px;
  padding-right: 24px;
  display: none;
}

.global-next-button {
  color: #000;
  border: 1.5px solid #000;
  border-radius: 4px;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: auto;
  max-width: 760px;
  height: auto;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  display: flex;
}

.global-next-button:hover {
  background-color: #bcff07;
}

.global-next-button.full-layout {
  width: 100%;
}

.global-next-button.full-layout.margin-top-48px {
  background-color: #3898ec00;
  margin-top: 48px;
}

.global-next-button.full-layout.margin-top-48px:hover {
  background-color: var(--pink);
}

.quiz-wrapper {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  flex-direction: column;
  max-width: 760px;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 48px;
  display: flex;
  position: relative;
}

.div-block-74 {
  flex-direction: column;
  flex: 1;
  align-self: center;
  display: flex;
}

.incorrect-icon {
  flex: none;
  width: 35px;
  height: 35px;
  margin-top: 1px;
  padding-top: 0;
  display: none;
  position: absolute;
  inset: auto;
}

.quize-section {
  width: auto;
  max-width: 1208px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  display: block;
}

.montserrat-600-20 {
  white-space: normal;
  overflow-wrap: normal;
  flex: 1;
  align-self: auto;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}

.montserrat-600-20.align-center {
  text-align: center;
  font-family: Unbounded, Arial, sans-serif;
}

.montserrat-600-20.dont-shrink {
  flex: none;
  display: block;
}

.montserrat-600-20.align-center {
  text-align: center;
}

.question-number {
  z-index: 0;
  justify-content: flex-end;
  width: auto;
  min-width: 992px;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  position: absolute;
  inset: 0% 0% auto;
}

.radio-button-disabler {
  z-index: 6;
  height: auto;
  display: none;
  position: absolute;
  inset: 0%;
}

.mcq-button-next {
  z-index: 10;
  color: #000;
  text-align: center;
  background-color: #fff;
  border: 1.5px solid #000;
  border-radius: 8px;
  margin-top: 30px;
  padding: 16px;
  font-size: 18px;
  font-weight: 600;
  display: none;
  position: relative;
}

.mcq-button-next:hover {
  background-color: var(--pink);
}

.div-block-76 {
  background-color: var(--pink);
  border: 1.5px solid #000;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: auto;
  max-width: none;
  padding: 64px 16px;
  font-family: Montserrat, sans-serif;
  display: flex;
}

.text-span-34 {
  white-space: nowrap;
}

.wrapper-2 {
  max-width: 1208px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
  display: block;
}

.feedback-correct {
  display: none;
}

.feedback-correct.height-0 {
  height: auto;
  display: none;
  overflow: hidden;
}

.questions-4-div-block, .questions-7-div-block {
  max-width: 1208px;
  padding-left: 24px;
  padding-right: 24px;
  display: none;
}

.quize-result {
  max-width: 1208px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  display: none;
}

.a-more-than-b {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  background-color: #f6e7ed;
  border: 1.5px solid #a40e4c;
  border-radius: 8px;
  flex-direction: row;
  align-self: auto;
  align-items: center;
  max-width: 760px;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  display: none;
}

.correct-icon {
  flex: none;
  width: 35px;
  height: 35px;
  margin-top: 1px;
  padding-top: 0;
  display: none;
  position: absolute;
  inset: auto;
}

.paragraph-2 {
  z-index: 4;
  margin-bottom: 0;
  padding-left: 20px;
  position: relative;
}

.questions-9-div-block, .questions-11-div-block, .questions-2-div-block {
  max-width: 1208px;
  padding-left: 24px;
  padding-right: 24px;
  display: none;
}

.pass {
  grid-column-gap: 32px;
  grid-row-gap: 32px;
  flex-direction: column;
  align-items: center;
  margin-left: 0;
  margin-right: 0;
  padding-top: 30px;
  display: flex;
}

.radio-button-label {
  background-color: #fff;
  border: 1.5px solid #000;
  border-radius: 50%;
  flex: none;
  align-self: center;
  width: 32px;
  max-width: none;
  height: 32px;
  max-height: none;
  margin-bottom: 0;
  padding-left: 0;
  display: block;
  position: relative;
  inset: 0%;
}

.button-next-wrapper {
  flex: 0 auto;
  position: relative;
}

.montserrat-800-36-46 {
  text-align: left;
  width: 100%;
  max-width: none;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 36px;
  font-weight: 800;
  line-height: 46px;
}

.montserrat-800-36-46.align-center {
  text-align: center;
  width: 100%;
  max-width: none;
}

.gb {
  color: #000;
  border: 1.5px solid #000;
  border-radius: 4px;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: auto;
  max-width: 760px;
  height: auto;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  display: flex;
}

.gb:hover {
  background-color: #bcff07;
}

.gb.full-layout {
  width: 100%;
}

.gb.full-layout.margin-top-48px {
  background-color: #3898ec00;
  margin-top: 48px;
}

.gb.full-layout.margin-top-48px:hover {
  background-color: var(--pink);
}

@media screen and (min-width: 1280px) {
  .form-label {
    color: #fff;
    font-family: Unbounded, Arial, sans-serif;
  }

  .full-section {
    background-color: var(--background);
  }

  .show-password {
    border-radius: 10px;
  }

  .log-in__h {
    color: #fff;
  }

  .c-text {
    color: #2b0a64;
    font-size: 26px;
    line-height: 28.6px;
  }

  .hero_component {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: block;
  }

  .hero_component.flex.count {
    align-items: center;
    display: flex;
  }

  .counter {
    color: #2b0a64;
    font-size: 64px;
    font-weight: 700;
    line-height: 84px;
  }

  .counter-item {
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    opacity: 1;
    background-color: #fff;
    border-radius: 30px;
    flex-flow: column;
    justify-content: flex-start;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 60px 20px 20px;
    display: flex;
  }

  .count-embed {
    display: none;
  }

  .counter-wrap {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
  }

  .hero_content {
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: flex-start;
    justify-items: center;
    display: grid;
  }

  .test-content {
    flex: 1;
    padding-top: 80px;
    display: block;
  }

  .questions-6-div-block {
    width: 1208px;
  }

  .page-content {
    flex: 1;
    padding-top: 80px;
    display: block;
  }

  .radio-button {
    inset: 0%;
  }

  .radio-button.w--redirected-checked {
    background-color: #0000;
  }

  .questions-10-div-block, .questions-5-div-block, .questions-3-div-block, .questions-1-div-block, .questions-8-div-block {
    width: 1208px;
  }

  .quize-section {
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
  }

  .radio-button-disabler {
    z-index: 10;
  }

  .mcq-button-next {
    z-index: 20;
  }

  .feedback-correct.height-0 {
    display: none;
  }

  .questions-4-div-block, .questions-7-div-block, .questions-9-div-block, .questions-11-div-block, .questions-2-div-block {
    width: 1208px;
  }
}

@media screen and (min-width: 1920px) {
  .hero_component {
    color: #000;
  }

  .hero_component.flex.count {
    min-height: 50vh;
  }
}

@media screen and (max-width: 991px) {
  .navigation {
    z-index: 999;
    height: auto;
    padding-top: 30px;
    padding-bottom: 20px;
    display: none;
    position: fixed;
    top: 102px;
  }

  .wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }

  .profile-wrap {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .header {
    grid-column-gap: 40px;
    width: 100%;
    margin-bottom: 50px;
    padding: 15px 20px;
  }

  .date-wrap {
    margin-right: 25px;
  }

  .header-r {
    grid-column-gap: 20px;
    display: none;
  }

  .search {
    min-width: 200px;
  }

  .row {
    display: flex;
  }

  .info {
    grid-row-gap: 40px;
    flex-direction: column;
    align-items: flex-start;
  }

  .info-r {
    margin-left: auto;
    margin-right: auto;
    display: none;
  }

  .subject-name {
    font-size: 40px;
  }

  .hamburger {
    z-index: 99999;
    cursor: pointer;
    margin-right: 0;
    display: block;
    position: relative;
  }

  .hamburger-line {
    background-color: var(--text);
    width: 30px;
    height: 3px;
    padding-bottom: 0;
    padding-right: 0;
  }

  .hamburger-line.middle {
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .navigation-shadow {
    z-index: 99;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: #39424526;
    position: fixed;
    inset: 102px 0% 0%;
  }

  .hero_component {
    padding-top: 6rem;
  }

  .counter-item {
    width: 362px;
    height: 311px;
    padding-top: 80px;
  }

  .counter-wrap {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    flex-flow: column;
    display: flex;
  }

  .hero_content {
    grid-column-gap: 0rem;
    grid-row-gap: 0rem;
    grid-template-columns: 1fr;
  }

  .test-content {
    flex-direction: column;
    min-width: 768px;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    display: block;
    overflow: visible;
  }

  .section-1 {
    padding-top: 0;
    padding-left: 24px;
    padding-right: 24px;
  }

  .div-block-2 {
    width: auto;
    min-width: auto;
    max-width: none;
  }

  .intro-to-test {
    padding-left: 24px;
    padding-right: 24px;
  }

  .u-800-36-46, .u-800-36-46.align-center {
    max-width: none;
  }

  .questions-6-div-block {
    padding-left: 0;
    padding-right: 0;
  }

  .page-content {
    flex-direction: column;
    min-width: 768px;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
    display: block;
    overflow: visible;
  }

  .radio-button.w--redirected-checked {
    background-color: #0000;
  }

  .questions-10-div-block {
    padding-left: 0;
    padding-right: 0;
  }

  .radio-button-field {
    display: flex;
  }

  .montserrat-600-18.color-indian-green {
    flex: 0 auto;
  }

  .questions-5-div-block {
    padding-left: 0;
    padding-right: 0;
  }

  .b-more-than-a {
    align-items: center;
  }

  .questions-3-div-block, .questions-1-div-block {
    padding-left: 0;
    padding-right: 0;
  }

  .div-block-75 {
    flex: 1;
    padding-bottom: 0;
  }

  .questions-8-div-block {
    padding-left: 0;
    padding-right: 0;
  }

  .global-next-button {
    max-width: none;
  }

  .global-next-button.full-layout {
    max-width: 100%;
  }

  .global-next-button.full-layout.margin-top-48px {
    background-color: #0000;
    width: 720px;
  }

  .global-next-button.full-layout.margin-top-48px.w--current {
    width: 720px;
  }

  .quiz-wrapper {
    max-width: 720px;
  }

  .div-block-74 {
    flex-direction: column;
    align-items: flex-start;
  }

  .quize-section {
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }

  .question-number {
    min-width: 768px;
  }

  .mcq-button-next {
    margin-top: 32px;
  }

  .div-block-76 {
    width: auto;
    min-width: auto;
    max-width: none;
  }

  .wrapper-2, .questions-4-div-block, .questions-7-div-block {
    padding-left: 0;
    padding-right: 0;
  }

  .quize-result {
    padding-left: 24px;
    padding-right: 24px;
  }

  .a-more-than-b {
    align-items: center;
  }

  .questions-9-div-block, .questions-11-div-block, .questions-2-div-block {
    padding-left: 0;
    padding-right: 0;
  }

  .pass {
    align-items: stretch;
  }

  .montserrat-800-36-46, .montserrat-800-36-46.align-center, .gb {
    max-width: none;
  }

  .gb.full-layout {
    max-width: 100%;
  }

  .gb.full-layout.margin-top-48px {
    background-color: #0000;
    width: 720px;
  }

  .gb.full-layout.margin-top-48px.w--current {
    width: 720px;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 30px;
  }

  .profile-wrap {
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .header {
    margin-bottom: 40px;
  }

  .row {
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    border-bottom: 1px solid #dadade;
    flex-direction: column;
    margin-bottom: 40px;
    padding-bottom: 40px;
  }

  .duration-wrap {
    grid-column-gap: 35px;
    flex-direction: row;
  }

  .duration-wrap.opacity, .separator.full {
    display: none;
  }

  .subject-name {
    font-size: 35px;
  }

  .subject-description {
    font-size: 18px;
  }

  .break-wrap {
    justify-content: center;
  }

  .log-in__h {
    font-size: 30px;
  }

  .counter-wrap {
    padding-bottom: 40px;
  }

  .test-content {
    min-width: 480px;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  .section-1 {
    max-width: none;
    padding-top: 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .intro-to-test {
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-800-36-46 {
    font-size: 24px;
    line-height: 32px;
  }

  .u-800-36-46.align-center {
    font-size: 26px;
  }

  .page-content {
    min-width: 480px;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  .montserrat-400-16-24.padding-top-16px {
    padding-top: 0;
  }

  .div-block-75 {
    flex-direction: column;
    flex: 0 auto;
    align-self: stretch;
    align-items: stretch;
    max-width: 767px;
  }

  .global-next-button {
    margin-top: 16px;
  }

  .global-next-button.full-layout.margin-top-48px.w--current {
    width: 100%;
    max-width: none;
  }

  .quize-section {
    padding-left: 16px;
    padding-right: 16px;
  }

  .montserrat-600-20 {
    text-align: left;
  }

  .montserrat-600-20.align-center {
    max-width: none;
  }

  .question-number {
    min-width: 480px;
  }

  .radio-button-disabler {
    height: auto;
  }

  .quize-result {
    padding-left: 16px;
    padding-right: 16px;
  }

  .pass {
    align-items: stretch;
    margin-left: 0;
  }

  .montserrat-800-36-46 {
    font-size: 24px;
    line-height: 32px;
  }

  .montserrat-800-36-46.align-center {
    font-size: 26px;
  }

  .gb {
    margin-top: 16px;
  }

  .gb.full-layout.margin-top-48px.w--current {
    width: 100%;
    max-width: none;
  }
}

@media screen and (max-width: 479px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  .date-wrap {
    margin-right: 15px;
  }

  .info {
    align-items: center;
  }

  .info-l {
    grid-row-gap: 35px;
    text-align: center;
    flex-direction: column;
  }

  .subject-name {
    font-size: 30px;
  }

  .form-input {
    width: 100%;
  }

  .log-in__h {
    font-size: 28px;
  }

  .container-large {
    max-width: none;
  }

  .test-content {
    min-width: 240px;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  .u-400-16-24 {
    flex: 0 auto;
  }

  .section-1 {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .intro-to-test {
    width: auto;
    max-width: none;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

  .u-800-36-46.align-center {
    overflow: visible;
  }

  .feedback-incorrect {
    display: none;
  }

  .page-content {
    min-width: 240px;
    padding-top: 80px;
    padding-left: 0;
    padding-right: 0;
  }

  .radio-button-field {
    padding-left: 16px;
    padding-right: 16px;
  }

  .montserrat-600-18.additional-amaranth-purple {
    white-space: normal;
    align-self: auto;
    width: auto;
    max-width: none;
    font-size: 16px;
  }

  .montserrat-600-18.color-indian-green {
    font-size: 16px;
  }

  .montserrat-400-16-24 {
    flex: 0 auto;
  }

  .b-more-than-a {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 16px;
  }

  .global-next-button {
    display: flex;
  }

  .global-next-button:hover {
    background-color: #bcff07;
  }

  .div-block-74 {
    flex-direction: column;
    width: 100%;
    max-width: none;
  }

  .quize-section {
    padding-left: 16px;
    padding-right: 16px;
  }

  .montserrat-600-20 {
    font-size: 18px;
  }

  .montserrat-600-20.align-center {
    flex: 1;
  }

  .question-number {
    min-width: 240px;
  }

  .radio-button-disabler {
    height: auto;
  }

  .mcq-button-next {
    margin-top: 16px;
  }

  .feedback-correct {
    display: none;
  }

  .text-span-85 {
    white-space: nowrap;
  }

  .quize-result {
    padding-left: 16px;
    padding-right: 16px;
  }

  .a-more-than-b {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    padding: 16px;
  }

  .pass {
    padding-right: 0;
  }

  .montserrat-800-36-46.align-center {
    overflow: visible;
  }

  .gb {
    display: flex;
  }

  .gb:hover {
    background-color: #bcff07;
  }
}


@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded.zip') format('undefined');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded.zip') format('undefined');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded.zip') format('undefined');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded.zip') format('undefined');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded.zip') format('undefined');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Unbounded';
  src: url('../fonts/Unbounded.zip') format('undefined');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}